<!DOCTYPE html>
<html>	
	<head>
		<title>HI there</title>
	</head>
	<body>

		{% for file in files %}
		<p>
			{{file.fieldname}} <br>
			{{file.originalname}} <br>
			{{file.name}} <br>
			{{file.encoding}} <br>
			{{file.mimetype}} <br>
			{{file.path}} <br>
			{{file.extension}} <br>
			{{file.size}} <br>
			{{file.truncated}} 
		</p>
		{% endfor %}

		<form action="/" method='post' enctype="multipart/form-data">

			<input type="text" name='name' value='{{form.name}}'>
			<input type="file" name='image1'>
			
			<button type='submit'>Submit!</button>

		</form>
	</body>
</html>